<config>
  <AutoStart>1</AutoStart>
  <MovieWidth>648</MovieWidth>
  <MovieHeight>512</MovieHeight>
  <BackgroundColor>FFFFFF</BackgroundColor>
  <MovieURL>piston.swf</MovieURL>
  <ShowLoadingMov>0</ShowLoadingMov>
  <LoadingMovURL/>
  <ScaleLoadingMov>1</ScaleLoadingMov>
  <LoadingMovPercentToLoad>50</LoadingMovPercentToLoad>
  <LoadingMovMinDuration>3</LoadingMovMinDuration>
  <ControllerColor>C0C0C0</ControllerColor>
  <ShowFFRW>1</ShowFFRW>
  <ShowAbout>1</ShowAbout>
  <AboutBoxText/>
  <TimeDisplayFormat>MM:SS</TimeDisplayFormat>
  <ShowDuration>1</ShowDuration>
  <ShowElapsedTime>1</ShowElapsedTime>
  <TimeDisplayFont>Arial</TimeDisplayFont>
  <TimeDisplayFontColor>000000</TimeDisplayFontColor>
</config>
